<div class="main-div">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>We're top notch on technology. We offer the latest products and an excelente customer support.</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a [routerLink]="'/home'" routerLinkActive="active" >Home</a></li>
                <li><a [routerLink]="'/products'" routerLinkActive="active">Products</a></li>
                <li><a [routerLink]="'/aboutus'" routerLinkActive="active">About Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contáctanos</h3>
            <p><strong>Phone:</strong> (+1) 456-7890</p>
            <p><strong>Email:</strong> queensstore&#64;queenstech.com</p>
            <p><strong>Address:</strong> Olives 123, New York, Queens</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-media">
                <a href="#" class="social-icon">FB</a>
                <a href="#" class="social-icon">TW</a>
                <a href="#" class="social-icon">IG</a>
                <a href="#" class="social-icon">LN</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Tienda de Tecnología. Todos los derechos reservados.</p>
    </div>
</footer>
</div>