<div class="d-flex flex-wrap">

    <div class="card mt-4" style="width: 18rem; text-align: center; align-self: center; align-items: center;">
                <img src="img/computadora.webp" 
                class="figure-img img-fluid rounded"
                alt="product name"
                style="width: 200px;">
        <div class="card-body">
          <h5 class="card-title">Desktop PC</h5>
          <p class="card-text">Powerfull PC for games and work, your best choice if you're not leaving your home.</p>
          <a class="btn btn-primary" (click)="onClickTable(products)">Ver</a>
        </div>
      </div>
      <br>

    <div class="card mt-4" style="width: 18rem; text-align: center; align-self: center; align-items: center;">
                <img src="img/laptop.webp" 
                class="figure-img img-fluid rounded"
                alt="product name"
                style="width: 200px;">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Best choice if you prefer moving around.</p>
          <a  class="btn btn-primary" (click)="onClickTable(products)">Ver</a>
        </div>
      </div>
      <br>

    <div class="card mt-4" style="width: 18rem; text-align: center; align-self: center; align-items: center;">
                <img src="img/tablet.webp" 
                class="figure-img img-fluid rounded"
                alt="product name"
                style="width: 200px;">
        <div class="card-body">
          <h5 class="card-title">Tablet</h5>
          <p class="card-text">Excelent option if you prefer a lightweight equipment and don't do exigent tasks.</p>
          <a  class="btn btn-primary" (click)="onClickTable(products)" >Ver</a>
        </div>
      </div>
      <br>
