<section class="about-us">
    <div class="container">
        <h2>Sobre Nosotros</h2>
        <div class="about-content">
            <div class="about-text">
                <h3>Quiénes Somos</h3>
                <p>
                    En TechStore, somos apasionados por la tecnología y la innovación. Fundada en 2010, nuestra misión es proporcionar a nuestros clientes los productos tecnológicos más avanzados y el mejor servicio posible. Desde gadgets de última generación hasta soluciones para el hogar y la oficina, ofrecemos una amplia gama de productos para satisfacer todas tus necesidades tecnológicas.
                </p>
                <p>
                    Nuestro equipo está compuesto por expertos en tecnología que están dedicados a ofrecer asesoramiento experto y un servicio al cliente excepcional. Nos enorgullece ser una tienda de tecnología de confianza, comprometida con la calidad y la satisfacción del cliente.
                </p>
            </div>
            <div class="about-image">
                <img src="img/techStore.avif" alt="Nuestro equipo">
            </div>
        </div>
        <div class="our-values">
            <h3>Nuestros Valores</h3>
            <ul>
                <li><strong>Innovación:</strong> Siempre estamos a la vanguardia de la tecnología.</li>
                <li><strong>Calidad:</strong> Solo ofrecemos productos de las mejores marcas.</li>
                <li><strong>Servicio:</strong> Nuestro equipo está aquí para ayudarte en todo momento.</li>
                <li><strong>Confianza:</strong> Construimos relaciones duraderas con nuestros clientes.</li>
            </ul>
        </div>
    </div>
</section>